<div class="rcmd-section-sub d-none" id="r-party">
  <div class="row rcmd-middle">
    <div>
      <a class="rcmd-med-btn active" name="party" href="#r-party-decor"
        >파티장식</a
      >
      <a class="rcmd-med-btn" name="party" href="#r-party-light">파티조명</a>
      <a class="rcmd-med-btn" name="party" href="#r-party-drink">술/알콜굿즈</a>
    </div>
  </div>
  <br />
  <div class="rcmd-product-container-party">
    <%- include("decor") %> <%- include("light") %> <%- include("drink") %>
  </div>
</div>
