<div class="rcmd-section-sub d-none" id="r-party">
  <div class="row rcmd-middle">
    <div>
      <a class="rcmd-med-btn active" name="party" href="#r-party-decor"
        >파티용 필수 장식</a
      >
      <a class="rcmd-med-btn" name="party" href="#r-party-light">턴업 조명</a>
      <a class="rcmd-med-btn" name="party" href="#r-party-drink"
        >술맛 달달 술잔</a
      >
      <a class="rcmd-med-btn" name="party" href="#r-party-drink-item"
        >술/알콜굿즈</a
      >
    </div>
  </div>
  <br />
  <div class="rcmd-product-container-party">
    <%- include("decor") %> <%- include("light") %> <%- include("drink") %><%-
    include("drink-item") %>
  </div>
</div>
