<div class="mobile-toggle-menu-container main position-fixed d-md-none">
  <button class="mobile-toggle-menu-exit" id="escape">
    <i class="fas fa-times"></i>
  </button>
  <div class="mobile-toggle-menu-column ms-3 mt-5">
    <div class="item" id="cafe">
      <a class="d-block py-3" href="#"
        >홈카페<i
          class="right-arrow position-absolute fas fa-chevron-right pt-1 pe-1"
        ></i
      ></a>
    </div>
    <div class="item" id="home">
      <a class="d-block py-3" href="#"
        >집돌이/집순이<i
          class="right-arrow position-absolute fas fa-chevron-right pt-1 pe-1"
        ></i
      ></a>
    </div>
    <div class="item" id="party">
      <a class="d-block py-3" href="#"
        >홈파티<i
          class="right-arrow position-absolute fas fa-chevron-right pt-1 pe-1"
        ></i
      ></a>
    </div>
    <div class="item" id="game">
      <a class="d-block py-3" href="#"
        >원룸PC방<i
          class="right-arrow position-absolute fas fa-chevron-right pt-1 pe-1"
        ></i
      ></a>
    </div>
    <div class="item" id="bed">
      <a class="d-block py-3" href="#"
        >침실가구<i
          class="right-arrow position-absolute fas fa-chevron-right pt-1 pe-1"
        ></i
      ></a>
    </div>
    <div class="item" id="living">
      <a class="d-block py-3" href="#"
        >거실가구<i
          class="right-arrow position-absolute fas fa-chevron-right pt-1 pe-1"
        ></i
      ></a>
    </div>
    <div class="item" id="storage">
      <a class="d-block py-3" href="#"
        >수납가구<i
          class="right-arrow position-absolute fas fa-chevron-right pt-1 pe-1"
        ></i
      ></a>
    </div>
    <div class="item" id="book">
      <a class="d-block py-3" href="#"
        >서재가구<i
          class="right-arrow position-absolute fas fa-chevron-right pt-1 pe-1"
        ></i
      ></a>
    </div>
  </div>
</div>
