<div class="rcmd-section-sub d-none" id="r-home">
  <div class="row rcmd-middle">
    <div>
      <a class="active" href="#">집콕가구</a>
      <a href="#">쿠션</a>
      <a href="#">거치대</a>
      <a href="#">집콕가전</a>
      <a href="#">집콕놀거리</a>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="explore-more col-12 mb-3 text-end">
      <a href="#">집콕가구 더보기 →</a>
    </div>
    <div class="rcmd-product col-lg-3 col-md-6 col-sm-6 mb-5 ps-2 pe-1">
      <div class="product">
        <div class="thumb">
          <a href=""><img src="assets/images/sample.jpeg" alt="logo" /></a>
        </div>
        <div class="content">
          <p class="source">오늘의집</p>
          <p class="p-title">
            포엠 호텔침대 Q 퀸/ K 킹 패널형 (색상2종, 매트별도)
          </p>
          <div class="price">531,000원</div>
        </div>
      </div>
    </div>
    <div class="rcmd-product col-lg-3 col-md-6 col-sm-6 mb-5 ps-2 pe-1">
      <div class="product">
        <div class="thumb">
          <a href=""><img src="assets/images/sample.jpeg" alt="logo" /></a>
        </div>
        <div class="content">
          <p class="source">오늘의집</p>
          <p class="p-title">
            포엠 호텔침대 Q 퀸/ K 킹 패널형 (색상2종, 매트별도)
          </p>
          <div class="price">531,000원</div>
        </div>
      </div>
    </div>
    <div class="rcmd-product col-lg-3 col-md-6 col-sm-6 mb-5 ps-2 pe-1">
      <div class="product">
        <div class="thumb">
          <a href=""><img src="assets/images/sample.jpeg" alt="logo" /></a>
        </div>
        <div class="content">
          <p class="source">오늘의집</p>
          <p class="p-title">
            포엠 호텔침대 Q 퀸/ K 킹 패널형 (색상2종, 매트별도)
          </p>
          <div class="price">531,000원</div>
        </div>
      </div>
    </div>
    <div class="rcmd-product col-lg-3 col-md-6 col-sm-6 mb-5 ps-2 pe-1">
      <div class="product">
        <div class="thumb">
          <a href=""><img src="assets/images/sample.jpeg" alt="logo" /></a>
        </div>
        <div class="content">
          <p class="source">오늘의집</p>
          <p class="p-title">
            포엠 호텔침대 Q 퀸/ K 킹 패널형 (색상2종, 매트별도)
          </p>
          <div class="price">531,000원</div>
        </div>
      </div>
    </div>
    <div class="rcmd-product col-lg-3 col-md-6 col-sm-6 mb-5 ps-2 pe-1">
      <div class="product">
        <div class="thumb">
          <a href=""><img src="assets/images/sample.jpeg" alt="logo" /></a>
        </div>
        <div class="content">
          <p class="source">오늘의집</p>
          <p class="p-title">
            포엠 호텔침대 Q 퀸/ K 킹 패널형 (색상2종, 매트별도)
          </p>
          <div class="price">531,000원</div>
        </div>
      </div>
    </div>
    <div class="rcmd-product col-lg-3 col-md-6 col-sm-6 mb-5 ps-2 pe-1">
      <div class="product">
        <div class="thumb">
          <a href=""><img src="assets/images/sample.jpeg" alt="logo" /></a>
        </div>
        <div class="content">
          <p class="source">오늘의집</p>
          <p class="p-title">
            포엠 호텔침대 Q 퀸/ K 킹 패널형 (색상2종, 매트별도)
          </p>
          <div class="price">531,000원</div>
        </div>
      </div>
    </div>
    <div class="rcmd-product col-lg-3 col-md-6 col-sm-6 mb-5 ps-2 pe-1">
      <div class="product">
        <div class="thumb">
          <a href=""><img src="assets/images/sample.jpeg" alt="logo" /></a>
        </div>
        <div class="content">
          <p class="source">오늘의집</p>
          <p class="p-title">
            포엠 호텔침대 Q 퀸/ K 킹 패널형 (색상2종, 매트별도)
          </p>
          <div class="price">531,000원</div>
        </div>
      </div>
    </div>
    <div class="rcmd-product col-lg-3 col-md-6 col-sm-6 mb-5 ps-2 pe-1">
      <div class="product">
        <div class="thumb">
          <a href=""><img src="assets/images/sample.jpeg" alt="logo" /></a>
        </div>
        <div class="content">
          <p class="source">오늘의집</p>
          <p class="p-title">
            포엠 호텔침대 Q 퀸/ K 킹 패널형 (색상2종, 매트별도)
          </p>
          <div class="price">531,000원</div>
        </div>
      </div>
    </div>
  </div>
</div>
