<div class="rcmd-section-sub d-none" id="r-game">
  <div class="row rcmd-middle">
    <div>
      <a class="rcmd-med-btn active" name="game" href="#r-game-chair"
        >게이밍의자</a
      >
      <a class="rcmd-med-btn" name="game" href="#r-game-desk">게이밍책상</a>
      <a class="rcmd-med-btn" name="game" href="#r-game-goods">PC방 소품</a>
    </div>
  </div>
  <br />
  <div class="rcmd-product-container-game">
    <%- include("chair") %> <%- include("desk") %> <%- include("goods") %>
  </div>
</div>
