<div class="rcmd-section-sub d-none" id="r-game">
  <div class="row rcmd-middle">
    <div>
      <a class="rcmd-med-btn active" name="game" href="#r-game-chair"
        >게이밍의자/발받침</a
      >
      <a class="rcmd-med-btn" name="game" href="#r-game-desk">게이밍책상</a>
      <a class="rcmd-med-btn" name="game" href="#r-game-goods"
        >게이밍 책상 꾸미기</a
      >
      <a class="rcmd-med-btn" name="game" href="#r-game-light">PC방 갬성조명</a>
    </div>
  </div>
  <br />
  <div class="rcmd-product-container-game">
    <%- include("chair") %> <%- include("desk") %> <%- include("goods") %> <%-
    include("light") %>
  </div>
</div>
