<div class="mega-menu container d-none dropdown-id">
  <div class="d-flex mega-menu-content dropdown-id">
    <div class="container dropdown-category dropdown-id">
      <div class="row">
        <div class="d-flex flex-column col-4 dropdown-id">
          <a class="medium" href="#">침대</a>
          <a class="small" href="#">일반침대</a>
          <a class="small" href="#">수납침대</a>
          <a class="small" href="#">벙커침대</a>
          <a class="small" href="#">깔판</a>
        </div>
        <div class="col-4 dropdown-id">
          <a class="medium" href="#">매트리스/토퍼</a>
          <a class="small" href="#">매트리스</a>
          <a class="small" href="#">토퍼</a>
        </div>
        <div class="col-4 dropdown-id">
          <a class="medium" href="#">화장대</a>
        </div>
      </div>
      <div class="row">
        <div class="col-4 dropdown-id">
          <a class="medium" href="#">거울</a>
        </div>
        <div class="col-4 dropdown-id">
          <a class="medium" href="#">협탁/사이드테이블</a>
        </div>
        <div class="col-4 dropdown-id"></div>
      </div>
    </div>
    <div class="dropdown-img dropdown-id">
      <img class="dropdown-id" src="assets/images/sample.jpeg" alt="" />
    </div>
  </div>
</div>
