<div class="mega-menu container d-none">
  <div class="d-flex mega-menu-content">
    <div class="container dropdown-category">
      <div class="row">
        <div class="d-flex flex-column col-4">
          <a class="medium" href="#">책상</a>
        </div>
        <div class="col-4">
          <a class="medium" href="#">의자</a>
          <a class="small" href="#">책상의자</a>
          <a class="small" href="#">인테리어의자</a>
        </div>
        <div class="col-4">
          <a class="medium" href="#">책장</a>
        </div>
      </div>
      <div class="row">
        <div class="col-4"></div>
        <div class="col-4"></div>
        <div class="col-4"></div>
      </div>
    </div>
    <div class="dropdown-img">
      <img src="../assets/images/sample.jpeg" alt="" />
    </div>
  </div>
</div>
