<div class="mega-menu container d-none">
  <div class="container mega-menu-content">
    <div class="row">
      <div class="d-flex flex-column col-3 c-num-1">
        <div class="c1 mb-2">
          <div class="row c-med">
            <a class="position-relative d-inline lh-lg fw-bold py-1" href="#"
              ><span class="ps-3">의자</span
              ><i
                class="position-absolute fas fa-chevron-right ml-auto"
                style="right: 25px; top: 50%; transform: translate(0, -50%)"
              ></i
            ></a>
          </div>
          <div class="col-12 py-1 pt-2">
            <a class="d-inline lh-base ps-3" href="">책상의자</a>
          </div>
          <div class="col-12 py-1">
            <a class="d-inline lh-base ps-3" href="">인테리어의자</a>
          </div>
        </div>
      </div>
      <div class="col-3 c-num-2">
        <div
          class="d-flex flex.column row"
          style="height: 100%; max-height: 230px"
        >
          <a class="col-12 c1 mb-2 position-relative" href="#">
            <span class="d-inline lh-lg fw-bold" href="">책상</span>
            <i
              class="fas fa-chevron-right position-absolute"
              style="right: 10px; top: 50%; transform: translate(0, -50%)"
            ></i>
          </a>
          <a class="col-12 c1 mb-2 position-relative" href="#">
            <span class="d-inline lh-lg fw-bold" href="">책장/책꽂이</span>
            <i
              class="fas fa-chevron-right position-absolute"
              style="right: 10px; top: 50%; transform: translate(0, -50%)"
            ></i>
          </a>
          <div class="col-12 c4">
            <a class="d-inline lh-lg" href=""></a>
          </div>
          <div class="col-12 c4">
            <a class="d-inline lh-lg" href=""></a>
          </div>
        </div>
      </div>
      <div class="col-6 dropdown-img c-num-3">
        <div class="c1">
          <img class="" src="../assets/images/sample.jpeg" alt="" />
        </div>
        <div class="c2">
          <div class="row my-2"><h4 class="mb-0">침대</h4></div>
          <div class="row">
            <span
              >Lorem ipsum dolor, sit amet consectetur adipisicing elit.
              Assumenda magnam rem ut voluptatum officia, rerum optio inventore
              ullam nesciun</span
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
