<div class="mega-menu container">
  <div class="container mega-menu-content">
    <div class="row">
      <div class="col-6">
        <div class="row">
          <a class="col-6 d-flex flex-column cmn-col position-relative me-3">
            <span class="fw-bold">카페감성 테이블</span
            ><span class="text-muted sub-text"></span>
            <i
              class="position-absolute fas fa-chevron-right ml-auto"
              style="right: 10px; top: 50%; transform: translate(0, -50%)"
            ></i>
          </a>
          <a class="col-6 d-flex flex-column cmn-col position-relative">
            <span class="fw-bold">갬성돋는 컵/잔</span
            ><span class="text-muted sub-text"></span>
            <i
              class="position-absolute fas fa-chevron-right ml-auto"
              style="right: 10px; top: 50%; transform: translate(0, -50%)"
            ></i> </a
          ><a class="col-6 d-flex flex-column cmn-col position-relative me-3">
            <span class="fw-bold">포인트 그릇/식기</span
            ><span class="text-muted sub-text"></span>
            <i
              class="position-absolute fas fa-chevron-right ml-auto"
              style="right: 10px; top: 50%; transform: translate(0, -50%)"
            ></i> </a
          ><a class="col-6 d-flex flex-column cmn-col position-relative">
            <span class="fw-bold">식탁보/테이블매트</span
            ><span class="text-muted sub-text"></span>
            <i
              class="position-absolute fas fa-chevron-right ml-auto"
              style="right: 10px; top: 50%; transform: translate(0, -50%)"
            ></i> </a
          ><a class="col-6 d-flex flex-column cmn-col position-relative me-3">
            <span class="fw-bold">홈카페가전</span
            ><span class="text-muted sub-text"
              >커피머신, 토스터기, 전기포트</span
            >
            <i
              class="position-absolute fas fa-chevron-right ml-auto"
              style="right: 10px; top: 50%; transform: translate(0, -50%)"
            ></i>
          </a>
        </div>
      </div>
      <div class="col-6 dropdown-img c-num-3">
        <div class="c1">
          <img class="" src="../assets/images/sample.jpeg" alt="" />
        </div>
        <div class="c2">
          <div class="row my-2"><h4 class="mb-0">홈카페</h4></div>
          <div class="row">
            <span
              >Lorem ipsum dolor, sit amet consectetur adipisicing elit.
              Assumenda magnam rem ut voluptatum officia, rerum optio inventore
              ullam nesciun</span
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
