<div class="mega-menu container dropdown-cafe d-none">
  <div class="d-flex mega-menu-content">
    <div class="container dropdown-category">
      <div class="row">
        <div class="col-4"><a href="#">카페테이블</a></div>
        <div class="col-4"><a href="#">커피잔</a></div>
        <div class="col-4"><a href="#">감성식기</a></div>
      </div>
      <div class="row">
        <div class="col-4"><a href="#">식탁보/테이블매트</a></div>
        <div class="col-4"><a href="#">가전제품</a></div>
        <div class="col-4"></div>
      </div>
    </div>
    <div class="dropdown-img">
      <img src="../assets/images/sample.jpeg" alt="" />
    </div>
  </div>
</div>
