<div class="mega-menu container d-none">
  <div class="container mega-menu-content">
    <div class="row">
      <div class="col-6">
        <div class="row">
          <a class="col-6 d-flex flex-column cmn-col position-relative me-3">
            <span class="fw-bold">게이밍책상</span
            ><span class="text-muted sub-text"></span>
            <i
              class="position-absolute fas fa-chevron-right ml-auto"
              style="right: 10px; top: 50%; transform: translate(0, -50%)"
            ></i>
          </a>
          <a class="col-6 d-flex flex-column cmn-col position-relative">
            <span class="fw-bold">게이밍의자/발받침</span
            ><span class="text-muted sub-text"></span>
            <i
              class="position-absolute fas fa-chevron-right ml-auto"
              style="right: 10px; top: 50%; transform: translate(0, -50%)"
            ></i> </a
          ><a class="col-6 d-flex flex-column cmn-col position-relative me-3">
            <span class="fw-bold">게이밍 책상 꾸미기</span
            ><span class="text-muted sub-text"
              >모니터거치대, 데스크패드, 헤드셋걸이</span
            >
            <i
              class="position-absolute fas fa-chevron-right ml-auto"
              style="right: 10px; top: 50%; transform: translate(0, -50%)"
            ></i> </a
          ><a class="col-6 d-flex flex-column cmn-col position-relative">
            <span class="fw-bold">PC갬성 조명</span
            ><span class="text-muted"></span>
            <i
              class="position-absolute fas fa-chevron-right ml-auto"
              style="right: 10px; top: 50%; transform: translate(0, -50%)"
            ></i>
          </a>
        </div>
      </div>
      <div class="col-6 dropdown-img c-num-3">
        <div class="c1">
          <img class="" src="../assets/images/sample.jpeg" alt="" />
        </div>
        <div class="c2">
          <div class="row my-2"><h4 class="mb-0">침실가구</h4></div>
          <div class="row">
            <span
              >Lorem ipsum dolor, sit amet consectetur adipisicing elit.
              Assumenda magnam rem ut voluptatum officia, rerum optio inventore
              ullam nesciun</span
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
