<div class="mega-menu container d-none">
  <div class="d-flex mega-menu-content">
    <div class="container dropdown-category">
      <div class="row">
        <div class="col-4"><a href="#">집콕가구</a></div>
        <div class="col-4"><a href="#">쿠션</a></div>
        <div class="col-4"><a href="#">거치대</a></div>
      </div>
      <div class="row">
        <div class="col-4"><a href="#">가전제품</a></div>
        <div class="col-4"><a href="#">집콕놀거리</a></div>
        <div class="col-4"></div>
      </div>
    </div>
    <div class="dropdown-img">
      <img src="../assets/images/sample.jpeg" alt="" />
    </div>
  </div>
</div>
