<div class="mega-menu container">
  <div class="container mega-menu-content">
    <div class="row">
      <div class="col-6">
        <div class="row">
          <a
            class="col-6 d-flex flex-column cmn-col position-relative me-3"
            href="/product/8201"
          >
            <span class="fw-bold">집콕모드 가구</span
            ><span class="text-muted sub-text"
              >수납/모션침대, 소파배드, 안락침대</span
            >
            <i
              class="position-absolute fas fa-chevron-right ml-auto"
              style="right: 10px; top: 50%; transform: translate(0, -50%)"
            ></i>
          </a>
          <a
            class="col-6 d-flex flex-column cmn-col position-relative"
            href="/product/8202"
          >
            <span class="fw-bold">세상편한 쿠션</span
            ><span class="text-muted sub-text"
              >등쿠션, 침대헤드 쿠션, 바디필로우</span
            >
            <i
              class="position-absolute fas fa-chevron-right ml-auto"
              style="right: 10px; top: 50%; transform: translate(0, -50%)"
            ></i> </a
          ><a
            class="col-6 d-flex flex-column cmn-col position-relative me-3"
            href="/product/8203"
          >
            <span class="fw-bold">실용성 갑 거치대</span
            ><span class="text-muted sub-text"
              >핸드폰 거치대, 드라이 거치대</span
            >
            <i
              class="position-absolute fas fa-chevron-right ml-auto"
              style="right: 10px; top: 50%; transform: translate(0, -50%)"
            ></i> </a
          ><a
            class="col-6 d-flex flex-column cmn-col position-relative"
            href="/product/8204"
          >
            <span class="fw-bold">집콕가전</span
            ><span class="text-muted sub-text"
              >빔프로젝터, 스피커, 턴테이블</span
            >
            <i
              class="position-absolute fas fa-chevron-right ml-auto"
              style="right: 10px; top: 50%; transform: translate(0, -50%)"
            ></i> </a
          ><a
            class="col-6 d-flex flex-column cmn-col position-relative me-3"
            href="/product/8205"
          >
            <span class="fw-bold">집콕놀거리</span
            ><span class="text-muted sub-text"
              >레트로게임기, 보드게임, 성인용게임</span
            >
            <i
              class="position-absolute fas fa-chevron-right ml-auto"
              style="right: 10px; top: 50%; transform: translate(0, -50%)"
            ></i>
          </a>
        </div>
      </div>
      <div class="col-6 dropdown-img c-num-3">
        <div class="c1">
          <img class="" src="../assets/images/dropdown/home.png" alt="" />
        </div>
        <div class="c2">
          <div class="row my-2"><h4 class="mb-0">집돌이/집순이</h4></div>
          <div class="row">
            <span
              >Lorem ipsum dolor, sit amet consectetur adipisicing elit.
              Assumenda magnam rem ut voluptatum officia, rerum optio inventore
              ullam nesciun</span
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
