<div class="mega-menu container d-none">
  <div class="d-flex mega-menu-content">
    <div class="container dropdown-category">
      <div class="row">
        <div class="d-flex flex-column col-4">
          <a class="medium" href="#">소파/안락의자</a>
          <a class="small" href="#">일반소파</a>
          <a class="small" href="#">리클라이너 소파</a>
          <a class="small" href="#">소파베드</a>
          <a class="small" href="#">안락의자/빈백의자</a>
        </div>
        <div class="col-4">
          <a class="medium" href="#">밥상/테이블</a>
        </div>
        <div class="col-4">
          <a class="medium" href="#">스툴</a>
        </div>
      </div>
      <div class="row">
        <div class="col-4"></div>
        <div class="col-4"></div>
        <div class="col-4"></div>
      </div>
    </div>
    <div class="dropdown-img">
      <img src="assets/images/sample.jpeg" alt="" />
    </div>
  </div>
</div>
