<div class="mega-menu container">
  <div class="container mega-menu-content">
    <div class="row">
      <div class="col-6">
        <div class="row">
          <a
            class="col-6 d-flex flex-column cmn-col position-relative me-3"
            href="/product/8301"
          >
            <span class="fw-bold">파티용 필수 장식</span
            ><span class="text-muted sub-text">풍선, 스티커, 머리띠</span>
            <i
              class="position-absolute fas fa-chevron-right ml-auto"
              style="right: 10px; top: 50%; transform: translate(0, -50%)"
            ></i>
          </a>
          <a
            class="col-6 d-flex flex-column cmn-col position-relative"
            href="/product/8302"
          >
            <span class="fw-bold">턴업 조명</span
            ><span class="text-muted sub-text">무드등, 줄조명, 미러볼</span>
            <i
              class="position-absolute fas fa-chevron-right ml-auto"
              style="right: 10px; top: 50%; transform: translate(0, -50%)"
            ></i> </a
          ><a
            class="col-6 d-flex flex-column cmn-col position-relative me-3"
            href="/product/8303"
          >
            <span class="fw-bold">술맛 달달 술잔</span
            ><span class="text-muted sub-text">소주잔, 맥주잔 </span>
            <i
              class="position-absolute fas fa-chevron-right ml-auto"
              style="right: 10px; top: 50%; transform: translate(0, -50%)"
            ></i> </a
          ><a
            class="col-6 d-flex flex-column cmn-col position-relative"
            href="/product/8304"
          >
            <span class="fw-bold">알콜력상승탬</span
            ><span class="text-muted sub-text">거품기, 디스펜서</span>
            <i
              class="position-absolute fas fa-chevron-right ml-auto"
              style="right: 10px; top: 50%; transform: translate(0, -50%)"
            ></i>
          </a>
        </div>
      </div>
      <div class="col-6 dropdown-img c-num-3">
        <div class="c1">
          <img class="" src="../assets/images/dropdown/party.png" alt="" />
        </div>
        <div class="c2">
          <div class="row my-2"><h4 class="mb-0">홈파티</h4></div>
          <div class="row">
            <span
              >Lorem ipsum dolor, sit amet consectetur adipisicing elit.
              Assumenda magnam rem ut voluptatum officia, rerum optio inventore
              ullam nesciun</span
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
