<div class="mega-menu container d-none">
  <div class="d-flex mega-menu-content">
    <div class="container dropdown-category">
      <div class="row">
        <div class="d-flex flex-column col-4">
          <a class="medium" href="#">서랍장</a>
        </div>
        <div class="col-4">
          <a class="medium" href="#">선반</a>
        </div>
        <div class="col-4">
          <a class="medium" href="#">렌지대</a>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <a class="medium" href="#">옷장/행거</a>
          <a class="small" href="#">옷장</a>
          <a class="small" href="#">행거</a>
        </div>
        <div class="col-4">
          <a class="medium" href="#">협탁/사이드테이블</a>
        </div>
        <div class="col-4"></div>
      </div>
    </div>
    <div class="dropdown-img">
      <img src="../assets/images/sample.jpeg" alt="" />
    </div>
  </div>
</div>
