<div class="mobile-toggle-container-sub" id="s-bed">
  <a
    class="d-flex px-5 align-items-center back"
    name="bed"
    href="javascript:void(0)"
  >
    <i class="fas fa-chevron-left"></i>
    <span class="ps-4">뒤로가기</span>
  </a>
  <div class="d-flex px-5" style="padding: 0.5rem 2rem; font-size: 20px">
    <div class="fw-bold">침실가구</div>
  </div>
  <a class="row px-5">
    <div class="col-6" style="font-weight: 600">침대</div>
    <div class="col-6 d-flex justify-content-end">
      <i class="fas fa-chevron-right"></i>
    </div>
  </a>
  <a class="row px-5">
    <div class="col-6 ps-4">일반침대</div>
    <div class="col-6 d-flex justify-content-end">
      <i class="fas fa-chevron-right"></i>
    </div>
  </a>
  <a class="row px-5">
    <div class="col-6 ps-4">수납침대</div>
    <div class="col-6 d-flex justify-content-end">
      <i class="fas fa-chevron-right"></i>
    </div>
  </a>
  <a class="row px-5">
    <div class="col-6 ps-4">벙커침대</div>
    <div class="col-6 d-flex justify-content-end">
      <i class="fas fa-chevron-right"></i>
    </div>
  </a>
  <a class="row px-5">
    <div class="col-6 ps-4">깔판</div>
    <div class="col-6 d-flex justify-content-end">
      <i class="fas fa-chevron-right"></i>
    </div>
  </a>
  <a class="row px-5">
    <div class="col-6" style="font-weight: 600">매트리스토퍼</div>
    <div class="col-6 d-flex justify-content-end">
      <i class="fas fa-chevron-right"></i>
    </div>
  </a>
  <a class="row px-5">
    <div class="col-6 ps-4">매트리스</div>
    <div class="col-6 d-flex justify-content-end">
      <i class="fas fa-chevron-right"></i>
    </div>
  </a>
  <a class="row px-5">
    <div class="col-6 ps-4">토퍼</div>
    <div class="col-6 d-flex justify-content-end">
      <i class="fas fa-chevron-right"></i>
    </div>
  </a>
  <a class="row px-5">
    <div class="col-6">화장대</div>
    <div class="col-6 d-flex justify-content-end">
      <i class="fas fa-chevron-right"></i>
    </div>
  </a>
  <a class="row px-5">
    <div class="col-6" style="font-weight: 600">거울</div>
    <div class="col-6 d-flex justify-content-end">
      <i class="fas fa-chevron-right"></i>
    </div>
  </a>
  <a class="row px-5">
    <div class="col-6" style="font-weight: 600">협탁/사이드테이블</div>
    <div class="col-6 d-flex justify-content-end">
      <i class="fas fa-chevron-right"></i>
    </div>
  </a>
</div>
