<div class="mobile-toggle-container-sub" id="s-game">
  <a
    class="d-flex px-5 align-items-center back"
    name="game"
    href="javascript:void(0)"
  >
    <i class="fas fa-chevron-left"></i>
    <span class="ps-4">뒤로가기</span>
  </a>
  <div class="d-flex px-5" style="padding: 0.5rem 2rem; font-size: 20px">
    <div class="fw-bold">원룸PC방</div>
  </div>
  <a class="row px-5" href="/product/8401">
    <div class="col-6" style="font-weight: 600">게이밍책상</div>
    <div class="col-6 d-flex justify-content-end">
      <i class="fas fa-chevron-right"></i>
    </div>
  </a>
  <a class="row px-5" href="/product/8402">
    <div class="col-6" style="font-weight: 600">게이밍의자/발받침</div>
    <div class="col-6 d-flex justify-content-end">
      <i class="fas fa-chevron-right"></i>
    </div>
  </a>
  <a class="row px-5" href="/product/8403">
    <div class="col-6" style="font-weight: 600">게이밍 책상 꾸미기</div>
    <div class="col-6 d-flex justify-content-end">
      <i class="fas fa-chevron-right"></i>
    </div>
  </a>
  <a class="row px-5" href="/product/8404">
    <div class="col-6" style="font-weight: 600">PC방 갬성 조명</div>
    <div class="col-6 d-flex justify-content-end">
      <i class="fas fa-chevron-right"></i>
    </div>
  </a>
</div>
