<div class="mobile-toggle-container-sub" id="s-home">
  <a
    class="d-flex px-5 align-items-center back"
    name="home"
    href="javascript:void(0)"
  >
    <i class="fas fa-chevron-left"></i>
    <span class="ps-4">뒤로가기</span>
  </a>
  <div class="d-flex px-5" style="padding: 0.5rem 2rem; font-size: 20px">
    <div class="fw-bold">집돌이/집순이</div>
  </div>
  <a class="row px-5">
    <div class="col-6" style="font-weight: 600">집콕모드 가구</div>
    <div class="col-6 d-flex justify-content-end">
      <i class="fas fa-chevron-right"></i>
    </div>
  </a>
  <a class="row px-5">
    <div class="col-6" style="font-weight: 600">세상편한 쿠션</div>
    <div class="col-6 d-flex justify-content-end">
      <i class="fas fa-chevron-right"></i>
    </div>
  </a>
  <a class="row px-5">
    <div class="col-6" style="font-weight: 600">실용성 갑 거치대</div>
    <div class="col-6 d-flex justify-content-end">
      <i class="fas fa-chevron-right"></i>
    </div>
  </a>
  <a class="row px-5">
    <div class="col-6" style="font-weight: 600">집콕가전</div>
    <div class="col-6 d-flex justify-content-end">
      <i class="fas fa-chevron-right"></i>
    </div>
  </a>
  <a class="row px-5">
    <div class="col-6" style="font-weight: 600">집콕놀거리</div>
    <div class="col-6 d-flex justify-content-end">
      <i class="fas fa-chevron-right"></i>
    </div>
  </a>
</div>
