<div
  class="mobile-toggle-menu-container sub-menu home position-fixed d-md-none"
>
  <button class="mobile-toggle-menu-exit" id="escape">
    <i class="fas fa-times"></i>
  </button>
  <div class="mobile-toggle-menu-column ms-3 mt-5">
    <div class="back" id="home">
      <a class="d-block py-3 ps-4" href="#"
        ><i
          class="left-arrow position-absolute fas fa-chevron-left pt-1 pe-1"
        ></i
        >뒤로가기</a
      >
    </div>
    <div>
      <a class="d-block py-3 ps-4" href="#"
        >집콕가구<i
          class="right-arrow position-absolute fas fa-chevron-right pt-1 pe-1"
        ></i
      ></a>
    </div>
    <div>
      <a class="d-block py-3 ps-4" href="#"
        >쿠션<i
          class="right-arrow position-absolute fas fa-chevron-right pt-1 pe-1"
        ></i
      ></a>
    </div>
    <div>
      <a class="d-block py-3 ps-4" href="#"
        >거치대<i
          class="right-arrow position-absolute fas fa-chevron-right pt-1 pe-1"
        ></i
      ></a>
    </div>
    <div>
      <a class="d-block py-3 ps-4" href="#"
        >집콕가전<i
          class="right-arrow position-absolute fas fa-chevron-right pt-1 pe-1"
        ></i
      ></a>
    </div>
    <div>
      <a class="d-block py-3 ps-4" href="#"
        >집콕놀거리<i
          class="right-arrow position-absolute fas fa-chevron-right pt-1 pe-1"
        ></i
      ></a>
    </div>
  </div>
</div>
