<div class="mobile-toggle-container-sub" id="s-living">
  <a
    class="d-flex px-5 align-items-center back"
    name="living"
    href="javascript:void(0)"
  >
    <i class="fas fa-chevron-left"></i>
    <span class="ps-4">뒤로가기</span>
  </a>
  <div class="d-flex px-5" style="padding: 0.5rem 2rem; font-size: 20px">
    <div class="fw-bold">거실가구</div>
  </div>
  <a class="row px-5">
    <div class="col-6" style="font-weight: 600">소파/안락의자</div>
    <div class="col-6 d-flex justify-content-end">
      <i class="fas fa-chevron-right"></i>
    </div>
  </a>
  <a class="row px-5">
    <div class="col-6 ps-4">일반소파</div>
    <div class="col-6 d-flex justify-content-end">
      <i class="fas fa-chevron-right"></i>
    </div>
  </a>
  <a class="row px-5">
    <div class="col-6 ps-4">리클라이너소파</div>
    <div class="col-6 d-flex justify-content-end">
      <i class="fas fa-chevron-right"></i>
    </div>
  </a>
  <a class="row px-5">
    <div class="col-6 ps-4">소파베드</div>
    <div class="col-6 d-flex justify-content-end" name="living">
      <i class="fas fa-chevron-right"></i>
    </div>
  </a>
  <a class="row px-5">
    <div class="col-6 ps-4">안락/빈백의자</div>
    <div class="col-6 d-flex justify-content-end">
      <i class="fas fa-chevron-right"></i>
    </div>
  </a>
  <a class="row px-5">
    <div class="col-6" style="font-weight: 600">밥상/테이블</div>
    <div class="col-6 d-flex justify-content-end">
      <i class="fas fa-chevron-right"></i>
    </div>
  </a>
  <a class="row px-5">
    <div class="col-6" style="font-weight: 600">스툴</div>
    <div class="col-6 d-flex justify-content-end">
      <i class="fas fa-chevron-right"></i>
    </div>
  </a>
</div>
