<div
  class="mobile-toggle-menu-container sub-menu living position-fixed d-md-none"
>
  <button class="mobile-toggle-menu-exit" id="escape">
    <i class="fas fa-times"></i>
  </button>
  <div class="mobile-toggle-menu-column ms-3 mt-5">
    <div class="back" id="living">
      <a class="d-block py-3 ps-4" href="#"
        ><i
          class="left-arrow position-absolute fas fa-chevron-left pt-1 pe-1"
        ></i
        >뒤로가기</a
      >
    </div>
    <div>
      <a class="d-block py-3 ps-4" href="#"
        >소파/안락의자<i
          class="right-arrow position-absolute fas fa-chevron-right pt-1 pe-1"
        ></i
      ></a>
    </div>
    <div>
      <a class="d-block py-3 ps-5" href="#"
        >일반소파<i
          class="right-arrow position-absolute fas fa-chevron-right pt-1 pe-1"
        ></i
      ></a>
    </div>
    <div>
      <a class="d-block py-3 ps-5" href="#"
        >리클라이너소파<i
          class="right-arrow position-absolute fas fa-chevron-right pt-1 pe-1"
        ></i
      ></a>
    </div>
    <div>
      <a class="d-block py-3 ps-5" href="#"
        >소파배드<i
          class="right-arrow position-absolute fas fa-chevron-right pt-1 pe-1"
        ></i
      ></a>
    </div>
    <div>
      <a class="d-block py-3 ps-5" href="#"
        >안락의자/빈백<i
          class="right-arrow position-absolute fas fa-chevron-right pt-1 pe-1"
        ></i
      ></a>
    </div>
    <div>
      <a class="d-block py-3 ps-4" href="#"
        >밥상/테이블<i
          class="right-arrow position-absolute fas fa-chevron-right pt-1 pe-1"
        ></i
      ></a>
    </div>
    <div>
      <a class="d-block py-3 ps-4" href="#"
        >스툴<i
          class="right-arrow position-absolute fas fa-chevron-right pt-1 pe-1"
        ></i
      ></a>
    </div>
  </div>
</div>
