<div class="mobile-toggle-container-sub" id="s-party">
  <a
    class="d-flex px-5 align-items-center back"
    name="party"
    href="javascript:void(0)"
  >
    <i class="fas fa-chevron-left"></i>
    <span class="ps-4">뒤로가기</span>
  </a>
  <div class="d-flex px-5" style="padding: 0.5rem 2rem; font-size: 20px">
    <div class="fw-bold">홈파티</div>
  </div>
  <a class="row px-5" href="/product/8301">
    <div class="col-6" style="font-weight: 600">파티용 필수 장식</div>
    <div class="col-6 d-flex justify-content-end">
      <i class="fas fa-chevron-right"></i>
    </div>
  </a>
  <a class="row px-5" href="/product/8302">
    <div class="col-6" style="font-weight: 600">턴업 조명</div>
    <div class="col-6 d-flex justify-content-end">
      <i class="fas fa-chevron-right"></i>
    </div>
  </a>
  <a class="row px-5" href="/product/8303">
    <div class="col-6" style="font-weight: 600">술맛 달달 술잔</div>
    <div class="col-6 d-flex justify-content-end">
      <i class="fas fa-chevron-right"></i>
    </div>
  </a>
  <a class="row px-5" href="/product/8304">
    <div class="col-6" style="font-weight: 600">알콜력상승탬</div>
    <div class="col-6 d-flex justify-content-end">
      <i class="fas fa-chevron-right"></i>
    </div>
  </a>
</div>
