<div class="mobile-toggle-container-sub" id="s-storage">
  <a
    class="d-flex px-5 align-items-center back"
    name="storage"
    href="javascript:void(0)"
  >
    <i class="fas fa-chevron-left"></i>
    <span class="ps-4">뒤로가기</span>
  </a>
  <div class="d-flex px-5" style="padding: 0.5rem 2rem; font-size: 20px">
    <div class="fw-bold">수납가구</div>
  </div>
  <a class="row px-5">
    <div class="col-6" style="font-weight: 600">서랍장</div>
    <div class="col-6 d-flex justify-content-end">
      <i class="fas fa-chevron-right"></i>
    </div>
  </a>
  <a class="row px-5">
    <div class="col-6" style="font-weight: 600">선반</div>
    <div class="col-6 d-flex justify-content-end">
      <i class="fas fa-chevron-right"></i>
    </div>
  </a>
  <a class="row px-5">
    <div class="col-6" style="font-weight: 600">렌지대</div>
    <div class="col-6 d-flex justify-content-end">
      <i class="fas fa-chevron-right"></i>
    </div>
  </a>
  <a class="row px-5">
    <div class="col-6" style="font-weight: 600">옷장/행거</div>
    <div class="col-6 d-flex justify-content-end">
      <i class="fas fa-chevron-right"></i>
    </div>
  </a>
  <a class="row px-5">
    <div class="col-6 ps-4">옷장</div>
    <div class="col-6 d-flex justify-content-end">
      <i class="fas fa-chevron-right"></i>
    </div>
  </a>
  <a class="row px-5">
    <div class="col-6 ps-4">행거</div>
    <div class="col-6 d-flex justify-content-end">
      <i class="fas fa-chevron-right"></i>
    </div>
  </a>
</div>
