<!DOCTYPE html>
<html lang="ko">
  <!--Header-->
  <%- include('../common/header'); -%>
  <body>
    <%- include ('../navs/navbar-main') -%>
    <div class="shop-category-area">
      <div class="container">
        <div class="row">
          <div
            class="col col-lg-3 col-md-6 d-flex pl-2 pr-1 py-1 custom-small-card categoryClicked"
            name="10101"
          >
            <img
              class="product-small-img img-responsive"
              src="../assets/images/product-image/0.jpg"
              alt="pp"
            />
            <div class="product-small-category">
              <p>일반침대</p>
            </div>
          </div>
          <div
            class="col col-lg-3 col-md-6 col-6 d-flex pl-2 pr-1 py-1 custom-small-card categoryClicked"
            name="10102"
          >
            <img
              class="product-small-img img-responsive"
              src="../assets/images/product-image/0.jpg"
              alt="pp"
            />
            <div class="product-small-category">
              <p>일반침대</p>
            </div>
          </div>
          <div
            class="col col-lg-3 col-md-6 col-6 d-flex pl-2 pr-1 py-1 custom-small-card categoryClicked"
            name="10103"
          >
            <img
              class="product-small-img img-responsive"
              src="../assets/images/product-image/0.jpg"
              alt="pp"
            />
            <div class="product-small-category">
              <p>일반침대</p>
            </div>
          </div>
          <div
            class="col col-lg-3 col-md-6 col-6 d-flex pl-2 pr-1 py-1 custom-small-card categoryClicked"
            name="10104"
          >
            <img
              class="product-small-img img-responsive"
              src="../assets/images/product-image/0.jpg"
              alt="pp"
            />
            <div class="product-small-category">
              <p>일반침대</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-9 order-lg-last col-md-12 order-md-first pl-width">
            <!-- Shop Top Area Start -->
            <div class="d-block">
              <div class="custom-lnb">
                <p>침실가구 / 화장대</p>
              </div>
              <div class="d-flex sorting-alignment">
                <div class="d-block">
                  <h4 class="align-self-center">침대/침대 헤드</h4>
                  <div class="search-result">
                    <p>100개의 결과가 있습니다.</p>
                  </div>
                </div>
                <div
                  class="select-shoing-wrap d-flex align-items-center sorting-width"
                >
                  <div class="shop-select sorting-style">
                    <select class="shop-sort">
                      <option data-display="">인기순</option>
                      <option value="1">리뷰순</option>
                      <option value="2">평점순</option>
                      <option value="3">가격높은순</option>
                      <option value="4">가격낮은순</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <!-- Shop Top Area End -->

            <!-- Shop Bottom Area Start -->
            <div class="shop-bottom-area">
              <div class="row"><%include ./product-medium-list %></div>
              <!--  Pagination Area Start -->
              <div
                class="pro-pagination-style text-center mb-md-30px mb-lm-30px mt-6"
                data-aos="fade-up"
              >
                <ul>
                  <li>
                    <a class="prev" href="#"
                      ><i class="ion-ios-arrow-left"></i
                    ></a>
                  </li>
                  <li><a class="active" href="#">1</a></li>
                  <li><a href="#">2</a></li>
                  <li>
                    <a class="next" href="#"
                      ><i class="ion-ios-arrow-right"></i
                    ></a>
                  </li>
                </ul>
              </div>
              <!--  Pagination Area End -->
            </div>
            <!-- Shop Bottom Area End -->
          </div>
          <!-- here -->
        </div>
      </div>
    </div>

    <!--Footer-->
    <%- include('../common/footer'); -%>
  </body>
</html>
